// Copyright 2014 - 2016 The Abelujo Developers
// See the COPYRIGHT file at the top-level directory of this distribution

// Abelujo is free software: you can redistribute it and/or modify
// it under the terms of the GNU General Public License as published by
// the Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.

// Abelujo is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU General Public License for more details.

// You should have received a copy of the GNU General Public License
// along with Abelujo.  If not, see <http://www.gnu.org/licenses/>.

{% load i18n %}
{% load staticfiles %}
!!!5

html
  head
    link(rel='stylesheet', type='text/css', href='{% static "search/style.css" %}')

    link(rel='stylesheet', type='text/css', href='{% static "bower_components/bootstrap/dist/css/bootstrap.css" %}')

    script(type='text/javascript', src="{% static 'bower_components/jquery/jquery.js' %}") // load jquery before django_bootstrap.
    script(type='text/javascript', src="{% static 'js/build/vendor.js' %}")
    //- script(type='text/javascript', src="{% static 'js/build/abelujo.js' %}")
    script(type='text/javascript', src='{% url "django.views.i18n.javascript_catalog" %}')
      div {% block pagetitle %} {% endblock %}

  body.container
    {% block content %}
    {% endblock content %}
