// Copyright 2014 The Abelujo Developers
// See the COPYRIGHT file at the top-level directory of this distribution

// Abelujo is free software: you can redistribute it and/or modify
// it under the terms of the GNU General Public License as published by
// the Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.

// Abelujo is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU General Public License for more details.

// You should have received a copy of the GNU General Public License
// along with Abelujo.  If not, see <http://www.gnu.org/licenses/>.
{% extends "base.jade" %}

{% block content %}

{% load i18n %}
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

{% load ngfilter %}

div(ng-cloak, ng-controller="basketsController")
 div
    uib-alert(
      ng-repeat="alert in alerts"
      type="{{ 'alert.level' | ng }}"
      close="closeAlert($item)"
      ng-click="closeAlert($item)"
    )
      {{ 'alert.message' | ng }}

 .col-md-3
   div(ng-hide="baskets.length != 0")
     h4
       a(href="#", ng-click="open_new_basket('sm')") {% trans "Create a basket" %} 
         i.glyphicon.glyphicon-plus

   ul.list-group
     div(ng-repeat="it in baskets")
        li.list-group-item.mouse-pointer(
          ng-class="{active: cur_basket.id == it.id}"
          ng-click="showBasket($index)"
          uib-popover="{{'baskets[$index].comment.substring(0,200)'|ng}}"
          popover-trigger="mouseenter"
          popover-placement="left") {{ " it.name " | ng }}
            span.badge {{ " it.length " | ng }}

 .col-md-9
  .row
   .col-md-6

    .btn-group
     button.btn.btn-info.dropdown-toggle(type="button", data-toggle="dropdown", aria-haspopup="true", aria-expanded="false") {% trans "Action" %}
       span.caret

     ul.dropdown-menu
       li
         a(href="#", title='', ng-click="open_new_basket('sm')") {% trans "Create a basket" %} 
           i.glyphicon.glyphicon-plus

       li.divider(role="separator")

       li: a(href="#", ng-click="command()", title='{% trans "Mark all the cards to command" %}') {% trans "Command…" %}
       li: a(href="#", ng-click="receive_command()", title='{% trans "Receive a command and check you received all the books" %}') {% trans "Receive a command" %}…
       li: a(href="#", ng-click="open_to_deposit('md')", title='{% trans "You can transform this list of books to a deposit. You will be asked the supplier and the discount." %}') {% trans "Transform as deposit" %}…
       li.divider(role="separator")
       li: a(href="#", ng-click="delete_basket()", title='{% trans "Delete this list. This can not be undone" %}') {% trans "Delete this list" %}

    .btn-group
     button.btn.btn-success.dropdown-toggle(data-toggle="dropdown", type="button", aria-haspopup="true", aria-expanded="false", title="{% trans 'Export the list to the required format' %}") {% trans "Export" %}
       span.caret

     ul.dropdown-menu
       li: a(href="/baskets/{{ 'cur_basket.id' | ng}}/export?format=txt&report=listing") txt

       li: a(href="/baskets/{{ 'cur_basket.id' | ng}}/export?format=csv&report=simplelisting") {% trans "isbn and quantity (Dilicom)" %} - csv

       li: a(href="/baskets/{{ 'cur_basket.id' | ng}}/export?format=pdf&report=listing") {% trans "List, with barcodes" %} - pdf

    .btn-group
       button.btn.btn-default(ng-click="toggle_images()", title='{% trans "Hide and show covers (d)" %}')
         i.glyphicon.glyphicon-th-list

       button.btn.btn-default(type="button", ng-click="showing_notes = ! showing_notes", title='{% trans "Show your notes (n)" %}')
         i.glyphicon.glyphicon-pencil

       a(href="http://abelujo.cc/docs/lists/", target="_blank"): button.btn.btn-default(title='{% trans "Read the documentation" %}')
         i.glyphicon.glyphicon-question-sign

   .col-md-2

   .col-md-6
     form
          p.input-group
            input.nullable.form-control#default-input(
              type='text'
              typeahead-loading="loadingCards"
              ng-model='copy_selected'
              uib-typeahead='copy.repr for copy in getCards($viewValue)'
              typeahead-min-length="3"
              typeahead-on-select="add_selected_card($item)"
              title="{% trans 'Use TAB to validate your choice, Enter to proceed.' %}"
              id="default-input"
              placeholder='{% trans "Search any isbn, search by keywords in your stock" %}'
            )

            span.input-group-btn
              button.btn.btn-default(type='button')
                i.glyphicon.glyphicon-search

   div(ng-show="showing_notes")
     div
       textarea(cols=80, rows=6, ng-model="cur_basket.comment")
     button.button.btn.btn-default(ng-click="save_basket()") {% trans "Save" %}

   table.table.table-condensed.table-striped
     thead
       th.mouse-pointer(ng-show="show_images")
       th.mouse-pointer(ng-click="sort_by('title')") {% trans "Title" %}
         span.caret
       th.mouse-pointer(ng-click="sort_by('quantity')") {% trans "In stock" %}
         span.caret
       th.mouse-pointer(ng-click="sort_by('price')") {% trans "Price" %}
         span.caret
       th.mouse-pointer(ng-click="sort_by('basket_qty')")
         span.caret


     tbody
       tr
         td(ng-show="show_images")
            .col-md-6

         td {% trans "Total" %}
         td
         td {{ 'get_total_price()'|ng}} €
         td {{ 'get_total_copies()'|ng}}
         td

       tr.my-animated-item(
          ng-repeat="it in copies"
          ng-mouseenter="show_buttons[$index] = true"
          ng-mouseleave="show_buttons[$index] = false")

         td(ng-show="show_images")
            .col-md-6(ng-show="show_images")
              img.myImg(ng-show="it.img", src="{{ 'it.img' | ng }}")
         td
           a(href="{{ 'it.get_absolute_url' | ng}}") {{ 'it.title' | ng }}
           div(ng-show="show_images") {{'it.publishers[0].fields.name'|ng}}

         td {{ 'it.quantity' | ng}}
         td {{ 'it.price' | ng }} €
         td
          input.my-number-input(type="number", min=0, max=99,
            ng-model="it.basket_qty"
            ng-change="save_quantity($index)")
         td: i.glyphicon.glyphicon-remove.mouse-pointer(ng-click="remove_from_selection($index)", style="padding-left: 1em;", title='{% trans "Remove from basket" %}', ng-show="true || show_buttons[$index]")

 script(type="text/ng-template", id="basketModal.html")
    div.modal-header
      h3.modal-title {% trans "Create a basket" %}

    div.modal-body
      label {% trans "Name" %}
      input#default-input(type="text", ng-model="new_name")

      button.btn.btn-primary(ng-click="ok()") {% trans "OK" %}

 script(type="text/ng-template", id="basketToDepositModal.html")
    div.modal-header
      h3.modal-title {% trans "Transform to a deposit" %}

    div.modal-body
      label {% trans "Name" %}
      input#default-input(type="text", ng-model="new_name")
      div
        label {% trans "Distributor" %}
        ui-select(ng-model="distributor.selected")
          ui-select-match
            span(ng-bind="$select.selected.repr")
          ui-select-choices(
            repeat="it in (distributor_list | filter:$select.search) track by it.id"
            refresh="refreshDistributors($select.search, $select)"
            refresh-delay="100")
              span(ng-bind="it.name")

        div: a(target="_blank", href="/admin/search/distributor/add"){% trans "Add a distributor" %}

      button.btn.btn-primary(ng-click="ok()") {% trans "OK" %}
{% endblock content %}