// Copyright 2014 - 2016 The Abelujo Developers
// See the COPYRIGHT file at the top-level directory of this distribution

// Abelujo is free software: you can redistribute it and/or modify
// it under the terms of the GNU General Public License as published by
// the Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.

// Abelujo is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU General Public License for more details.

// You should have received a copy of the GNU General Public License
// along with Abelujo.  If not, see <http://www.gnu.org/licenses/>.

{% block reviews %}

{% load i18n %}
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% load ngfilter %}

div(ng-controller="cardReviewsController")
  hr
  h4
    span.glyphicon.glyphicon-pencil(style="padding-right: 1em;")
    span {% trans "Reviews" %}
  div(ng-repeat="review in reviews")
    a(href="{{ 'review.url' | ng }}", target="_blank") {{ 'review.title' | ng }}
    div(title="{{ 'review.long_summary' | ng }}") {{ 'review.short_summary' | ng }} ...

{% endblock reviews %}