// Copyright 2014 - 2016 The Abelujo Developers
// See the COPYRIGHT file at the top-level directory of this distribution

// Abelujo is free software: you can redistribute it and/or modify
// it under the terms of the GNU General Public License as published by
// the Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.

// Abelujo is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU General Public License for more details.

// You should have received a copy of the GNU General Public License
// along with Abelujo.  If not, see <http://www.gnu.org/licenses/>.

{% block history_sells %}

{% load i18n %}
{% load ngfilter %}

div
    .row.ng-cloak

      .col-md-1
        .btn-group
           button.btn.btn-success.dropdown-toggle(data-toggle="dropdown", type="button", aria-haspopup="true", aria-expanded="false", title="{% trans 'Export the selection' %}") {% trans "Export" %}
             span.caret

           ul.dropdown-menu
             li: a(href="/history/sells/export?distributor_id={{ 'distributor.selected.id' | ng}}&month={{ 'getMonth()' | ng }}&year={{ 'user_date.getFullYear()' | ng }}&format=txt") {% trans "Export selection" %} - txt
             //- li: a(href="/baskets/{{ 'cur_basket.id' | ng}}/export?format=txt&report=listing") {% trans "Export selection" %} - pdf
             li: a(href="/history/sells/export?distributor_id={{ 'distributor.selected.id' | ng}}&month={{ 'getMonth()' | ng }}&year={{ 'user_date.getFullYear()' | ng }}&format=csv") {% trans "Export selection" %} - csv


      .col-md-3
        p.input-group
            input.form-control(
              title='{% trans "Choose another month to see its stats" %}'
              type='text'
              placeholder='{% trans "month" %}'
              uib-datepicker-popup='{{"user_date_format"|ng}}'
              ng-model="user_date"
              ng-change="user_change_month()"
              is-open="user_popup_status.opened"
              datepicker-options="datepicker_user_options"
            )
            span.input-group-btn
              button.btn.btn-default(type='button', ng-click='user_open_datepicker($event)')
                i.glyphicon.glyphicon-calendar


      .col-md-3
        p.input-group
          ui-select(ng-model="distributor.selected", ng-change="distChanged()")
            ui-select-match(placeholder="{% trans 'Distributor' %}")
              span(ng-bind="$select.selected.repr")
            ui-select-choices(
              repeat="item in (distributors | filter:$select.search) track by item.id",
              refresh="refreshDistributors($select.search, $select)",
              refresh-delay="100")
              span(ng-bind="item.name")

          span.input-group-btn
            button.btn.btn-default(ng-click="distErased()", title="cancel the distributor selection")
              i.glyphicon.glyphicon-remove

      .col-md-3
        button.button.btn.btn-default(type="button", ng-click="toggle_details()", title='{% trans "Hide and show details (d)" %}')
              i.glyphicon.glyphicon-th-list

          input(type="checkbox", ng-click="filter_unique()", ng-model="show_unique")
        span {% trans "One title per line" %}


    .row.ng-cloak
      .col-md-9
        table.table.table-condensed
          thead
            th.col-md-2(ng-click="sort_by('created')") {% trans "Date" %}
              span.caret
            th(ng-click="sort_by('sell_id')") {% trans "Sell id" %}
              span.caret
            th.col-md-1(ng-click="sort_by('total_price_sold')") {% trans "Amount" %}
              span.caret
            th(ng-click="sort_by('total_sold')") {% trans "Total copies sold" %}
              span.caret
            th {% trans "Titles" %}
            th.col-md-1

          tbody
            tr(ng-repeat="sell in sells")
             em(ng-show="sells.length==0") {% trans "No data" %}
             td {{ 'sell.created' | ng }}
             td {{ 'sell.sell_id' | ng }}
             td {{ 'sell.price_sold' | ng }} €
             td {{ 'sell.total_sold' | ng }}
             td
               .row
                 img.myImg.col-md-3(ng-show="show_details", src="{{ 'sell.card.img' | ng }}")
                 a.col-md-9(href="{{ 'sell.card.get_absolute_url' | ng }}") {{ 'sell.card.title' | ng }}

             td
                i.col-md-2.button.glyphicon.glyphicon-remove.mouse-pointer(
                  ng-click="sellUndo($index)"
                  title="{% trans 'Undo this sell' %}")

      .col-md-3.panel.panel-info
        div.panel-heading {% trans "Statistics" %}
        div.panel-body
          //- h4 {% trans "Revenue of current month" %}: {{'sells_month.revenue'|ng}} {% trans "€" %}
          h4 {% trans "Total sells" %}: {{'sells_month.toFixed(2)'|ng}} {% trans "€" %}
          div {% trans "Total" %} {% trans "excl. tax" %}: {{ 'total_sells_month_excl_tax.toFixed(2)' | ng }} {% trans "€" %}
          div {% trans "total cards sold" %}: {{'nb_sold_cards'|ng}}
          div {% trans "mean" %}: {{'sells_mean.toFixed(2)'|ng}} {% trans "€" %}
          h4 {% trans "Best 10 sells" %}
          table.table(ng-show="best_sells.length")
            thead
              tr
                th {% trans "Title" %}
                th {% trans "Quantity sold" %}
            tbody
              tr(ng-repeat="sell in best_sells")
                td {{ 'sell.card.title' | ng }}
                td {{ 'sell.total_sold' | ng }}
            tfoot
              tr
                td.text-center(colspan="5")

          em(ng-hide="best_sells.length") {% trans "No data" %}

{% endblock history_sells %}
