// Copyright 2014 - 2016 The Abelujo Developers
// See the COPYRIGHT file at the top-level directory of this distribution

// Abelujo is free software: you can redistribute it and/or modify
// it under the terms of the GNU General Public License as published by
// the Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.

// Abelujo is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU General Public License for more details.

// You should have received a copy of the GNU General Public License
// along with Abelujo.  If not, see <http://www.gnu.org/licenses/>.
{% extends "base.jade" %}


{% block content %}
{% load i18n %}
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% load ngfilter %}


h3 {% trans "Search for new titles" %}

div(ng-cloak, ng-show="cards", ng-controller="searchResultsController")

 div
    uib-alert(
      ng-repeat="alert in alerts"
      type="{{ 'alert.level' | ng }}"
      close="closeAlert($item)"
      ng-click="closeAlert($item)"
    )
      {{ 'alert.message' | ng }}

 .row
  .col-md-10
   form(ng-submit="validate()")
    div.form-group
      label.col-md-4 {% trans "Source" %}
      div.col-md-8
        select.form-control(ng-model="datasource", ng-options="elt.name for elt in datasources")
      label.col-md-4 {% trans "Search terms" %}
      div.col-md-8
        input.form-control#default-input(
          ng-model="query"
          type="text"
          placeholder='{% trans "Search on title, authors or isbn" %}'
        )
  .col-md-2

 .row
   .col-md-10
     input.btn.btn-primary(value="{% trans 'Search' %}", ng-click="validate()", type="submit", placeholder="{% trans 'Key words, or ean/isbn' %}")
     span  {% trans "or" %}: 
     a(href="{% url 'card_edit' %}") {% trans "Add a card manually" %}
   .col-md-2

 .row(ng-show="cards.length != 0")
    .col-md-10
     .btn-group
       button.btn.btn-info.dropdown-toggle(type="button", data-toggle="dropdown", aria-haspopup="true", aria-expanded="false") {% trans "Action" %}
         span.caret

       ul.dropdown-menu

        li: a(href="#", ng-click="open_list_select()", title='{% trans "Add the cards selected to basket(s)" %}'){% trans 'Add to list…' %}

        li: a(href="#", ng-click="open_inv_select()", title='{% trans "Add the cards selected to an ongoing inventory" %}') {% trans "Add to inventory…" %}

     button.btn.btn-default(ng-click="toggle_images()", title='{% trans "Hide and show covers" %}')
         i.glyphicon.glyphicon-th-list

    .col-md-2
       nav(style="float: right;")
          ul.pagination
            li.mouse-pointer: a(ng-click="previous_results()", aria-label="Previous", title="{% trans 'Previous results' %}")
              span(aria-hidden="true") &laquo;
            li.mouse-pointer: a(ng-click="next_results()", aria-label="Next", title="{% trans 'Next results' %}")
              span(aria-hidden="true") &raquo;

 table.table.table-striped(ng-show="cards.length != 0")
    thead
      th: input(type="checkbox", ng-click="toggleAll()")
      th(ng-show="show_images")
      th {% trans "Title" %}
      th {% trans "Authors" %}
      th {% trans "Publishers" %}
      th {% trans "Price" %}
      th

    tbody
      tr(ng-repeat="card in cards")

        td
          input(type="checkbox", ng-model="card.selected")
        td(ng-show="show_images")
            .col-md-6(ng-show="show_images")
              img.myImg(ng-show="card.img", src="{{ 'card.img' | ng}}", alt="cover image")
        td
              span.label.label-as-badge.label-default(
                ng-class="{'label-success': card.in_stock > 0, 'label-danger': card.in_stock < 0}"
                ng-show="card.in_stock != null"
                title='{% trans "This card is already in your stock" %}')
                  {{'card.in_stock'|ng}}
              span
                a(href="{{ 'card.details_url' | ng }}", target="_blank") {{ 'card.title' | ng }}

              div(ng-show="show_images && card.isbn")
                    b isbn: 
                    span {{ 'card.isbn' |ng}}

              div(ng-show="show_images") {{ 'card.date_publication' | ng }}
              div(
                ng-class="{'text-danger': is_not_available(card.availability)}"
                ng-show="show_images") {{ 'card.availability' | ng }}

              div(ng-show="show_images")
                 a(ng-show='language == "fr" '
                  target="_blank"
                  href="https://framabee.org/?q=site:lmda.net {{'card.authors[0]'|ng}} {{ 'card.title' | ng }}") lmda.net

        td
          div(ng-repeat="author in card.authors")
            div {{ 'author' |ng}}
        td
          div(ng-repeat="pub in card.publishers")
            div {{ 'pub' | ng }}
        td: div {{ 'card.price | currency'|ng }}
        td
          button.btn.btn-primary(ng-click="create_and_add(card)", title='{% trans "Add to your stock" %}') {% trans "Add…" %}

 nav(style="float: right;", ng-show="cards.length != 0")
          ul.pagination
            li.mouse-pointer: a(ng-click="previous_results()", aria-label="Previous", title="{% trans 'Previous results' %}")
              span(aria-hidden="true") &laquo;
            li.mouse-pointer: a(ng-click="next_results()", aria-label="Next", title="{% trans 'Next results' %}")
              span(aria-hidden="true") &raquo;

 div(ng-show="no_results") {% trans "No results" %}

 script(type="text/ng-template", id="SearchResultsModal.html")
    div.modal-header
      h3.modal-title {% trans "Add to basket(s)" %}

    div.modal-body
      div(ng-repeat="basket in baskets")
        span
          input(type="checkbox", ng-model="selected_baskets[basket.id]")
          label {{ 'basket.name' | ng}}

      button.btn.btn-primary(ng-click="ok()") OK

 script(type="text/ng-template", id="SearchResultsAddToInventoryModal.html")
    div.modal-header
      h3.modal-title {% trans "Choose an inventory" %}

    div.modal-body
     .row
        .col-lg-9
          select.form-control(ng-model="inventory"
               ng-options="it.name for it in inventories")

        .col-lg-3

            button.btn.btn-primary(ng-click="ok()") OK

{% endblock content %}