// Copyright 2014 - 2016 The Abelujo Developers
// See the COPYRIGHT file at the top-level directory of this distribution

// Abelujo is free software: you can redistribute it and/or modify
// it under the terms of the GNU General Public License as published by
// the Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.

// Abelujo is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU General Public License for more details.

// You should have received a copy of the GNU General Public License
// along with Abelujo.  If not, see <http://www.gnu.org/licenses/>.
{% extends "base.jade" %}

{% block auto_command_nb %} {{ auto_command_nb }} {% endblock %}

{% block content %}

{% load i18n %}
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% load ngfilter %}

div(ng-cloak, ng-controller="basketToCommandController")

  div
    uib-alert(
      ng-repeat="alert in alerts"
      type="{{ 'alert.level' | ng }}"
      close="closeAlert($item)"
      ng-click="closeAlert($item)"
    )
      {{ 'alert.message' | ng }}

  .col-md-2
    ul.list-group
     div(ng-repeat="(dist_name, cards) in sorted_cards")
        li.list-group-item.mouse-pointer(
          ng-class="{active: it[0].id == false}"
          ng-click="dist_href(dist_name)"
          popover-trigger="mouseenter"
          popover-placement="left") {{ " dist_name " | ng }}
            span.badge {{ " cards.length " | ng }}


  .col-md-10

    .row
     .col-md-1
      .btn-group
       button.btn.btn-success.dropdown-toggle(type="button", data-toggle="dropdown", type="button", aria-haspopup="true", aria-expanded="false", title="{% trans 'Export the list to the required format' %}") {% trans "Export" %}
           span.caret
       ul.dropdown-menu
           li: a(href="/baskets/1/export?format=txt&report=simplelisting", title='{% trans "Export the list of all cards to command in txt format." %}') {% trans "Listing" %} - txt

           li: a(href="/baskets/1/export?format=csv&report=simplelisting", title='{% trans "Export the list of all cards to command in a csv, suitable for LibreOffice and to give to other services, like Dilicom." %}') {% trans "isbn and quantity" %} - csv (Dilicom)

     .col-md-2
      .btn-group
         a(href="http://abelujo.cc/docs/commands/", target="_blank"): button.btn.btn-default(title='{% trans "Read the documentation" %}')
            i.glyphicon.glyphicon-question-sign

         button.btn.btn-default(ng-click="toggle_images()", title='{% trans "Hide and show covers (d)" %}')
           i.glyphicon.glyphicon-th-list

     .col-md-5
        div {% trans "Total" %}: {{'super_total_copies()'|ng}} {% trans "copies" %}, {{'super_total_price()'|ng}} €

    div.panel.panel-info(style="margin-top: 5px;")
        div.panel-heading {% trans "Help" %}
        div.panel-body
          div {% trans "The cards to command are grouped by supplier. Check the quantity you want to command and send them an email." %}
          div {% trans "You can also export all this list to csv, wich will contain, for each card, the isbn and the quantity to command. This format is well suited to feed in the website of some resailers, like Dilicom." %}

    div(ng-repeat="(dist_name, cards) in sorted_cards")
          span
            .row
             a.my-black-link(href="{{ 'grouped_dist[dist_name][0].get_absolute_url' | ng}}")
              h4.col-md-6.myanchor(id="{{ 'dist_name' | ng}}") {{ 'dist_name'|ng}}  
               a(href="mailto:{{'grouped_dist[dist_name][0].email'|ng}}?subject={% trans 'New command' %}&body={% trans 'Hello' %} %0D%0A %0D%0A {{ 'bodies[dist_name]' | ng }}", ng-click="get_body(dist_name)")
                i.glyphicon.glyphicon-envelope(title="{% trans 'Write to' %}  {{ 'grouped_dist[dist_name][0].email' | ng}} {% trans ' with your desktop mail client' %}")

               div.btn-group
                button.btn.btn-default.dropdown-toggle(type="button", data-toggle="dropdown", type="button", aria-haspopup="true", aria-expanded="false", title="{% trans 'Export the list to the required format' %}") {% trans "Export" %}
                   span.caret
                 ul.dropdown-menu
                   li: a(href="/baskets/1/export?format=txt&report=simplelisting&distributor_id={{ 'grouped_dist[dist_name][0].id' | ng}}", title='{% trans "Export the list of all cards to command in txt format." %}') {% trans "Listing" %} - txt

                   li: a(href="/baskets/1/export?format=csv&report=simplelisting&distributor_id={{ 'grouped_dist[dist_name][0].id' | ng}}", title='{% trans "Export the list of all cards to command in a csv, suitable for LibreOffice and to give to other services, like Dilicom." %}') {% trans "isbn and quantity" %} - csv (Dilicom)


          table.table.table-condensed.table-striped
              thead
                th(ng-show="show_images")
                th {% trans "Title" %}
                th {% trans "Author" %}
                th {% trans "Price" %}
                th {% trans "Discount" %} {{ 'grouped_dist[dist_name][0].discount' | ng}}%
                th {% trans "Quantity left" %}
                th {% trans "To command" %}
              tbody
                tr(ng-repeat="card in cards")
                  td(ng-show="show_images")
                    .col-md-6(ng-show="show_images")
                      img.myImg(ng-show="card.img", src="{{ 'card.img' | ng }}")

                  td.col-md-6: a(href="{{ 'card.get_absolute_url' | ng}}") {{ 'card.title' | ng }}
                  td.col-md-1 {{ 'card.authors_repr' | ng }}
                  td.col-md-1 {{ 'card.price' |ng }} €
                  td.col-md-1 {{ 'card.price_discounted' |ng }} €
                  td.col-md-1 {{ 'card.quantity' |ng }}
                  td.col-md-1
                    input.my-number-input(type="number", min=0, max=99,
                      ng-model="card.basket_qty"
                      ng-change="save_quantity(dist_name, $index)")
                    i.glyphicon.glyphicon-remove.mouse-pointer(ng-click="remove_from_selection(dist_name, $index)", style="padding-left: 1em;", title='{% trans "Remove from list" %}')

                tr
                  td(ng-show="show_images")
                  td.col-md-7 {% trans "Total" %}
                  td
                  td.col-md-1 {{ 'get_total_price(dist_name)' |ng}}  €
                  td.col-md-1 {{ 'get_total_price_discounted(dist_name)' |ng}}  €
                  td
                  td.col-md-1 {{'get_total_copies(dist_name)'|ng}}

                tr
                  td(ng-show="show_images")
                  td
                    | {% trans "Total" %}
                    | {# Translators: excl. tax: price excluding tax (french: HT). #}
                    | {% trans "excl. tax" %}

                  td
                  td  {{ 'get_total_price_excl_vat(dist_name)' |ng}}  €
                  td  {{ 'get_total_price_discounted_excl_vat(dist_name)' |ng}}  €
                  td
                  td

  // we'll use the modal shortly !
  script(type="text/ng-template", id="commandModal.html")
    div.modal-header
      h3.modal-title {% trans "Command" %}
      div {% trans "The cards are grouped by supplier. Please check the list and confirm." %}

    div.modal-body
      div(ng-repeat="(dist_name, cards) in sorted_cards")
        h4 pub: {{ 'dist_name'|ng}}
        div(ng-repeat="card in cards")
          div {{'card.title'|ng}}

  //- button.btn.btn-primary(ng-click="open('lg')") {% trans 'Command…' %}

{% endblock %}