// Copyright 2014 - 2016 The Abelujo Developers
// See the COPYRIGHT file at the top-level directory of this distribution

// Abelujo is free software: you can redistribute it and/or modify
// it under the terms of the GNU General Public License as published by
// the Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.

// Abelujo is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU General Public License for more details.

// You should have received a copy of the GNU General Public License
// along with Abelujo.  If not, see <http://www.gnu.org/licenses/>.
!!! 5

{% load i18n %}
{% load staticfiles %}
{% load ngfilter %}

html(ng-app="abelujo")
  head
    link(rel='stylesheet', type='text/css', href='{% static "search/style.css" %}')
    link(rel='stylesheet', type='text/css', href='{% static "bower_components/angular-ui-select/dist/select.css" %}')
    link(rel='stylesheet', type='text/css', href='{% static "bower_components/datatables/media/css/jquery.dataTables.min.css" %}')
    link(rel='stylesheet', type='text/css', href='{% static "bower_components/angular-loading-bar/build/loading-bar.min.css" %}')
    link(rel='stylesheet', type='text/css', href='{% static "bower_components/angular-hotkeys/build/hotkeys.min.css" %}')
    script(type='text/javascript', src="{% static 'js/build/vendor.js' %}")
    script(type='text/javascript', src="{% static 'js/build/abelujo.js' %}")
    script(type='text/javascript', src='{% url "django.views.i18n.javascript_catalog" %}')
    title {% block pagetitle %} {% endblock %}

  body.container-fullwidth(ng-controller="navbarController", style="padding-top: 60px;")
   nav.navbar.navbar-default.navbar-inverse.navbar-fixed-top.container-fluid(role="navigation")
      div.navbar-collapse
        ul.nav.navbar-nav
          li
            a Abelujo
          li.push-right(href="#")
            a(href='{% url "stats" %}') {% trans "Statistics" %} 
              i.glyphicon.glyphicon-stats

          li.dropdown.push-right
            a.dropdown-toggle(href="#", data-toggle="dropdown", role="button", title='{% trans "Access everything on the database" %}') {% trans "Database" %}
              span.caret
            ul.dropdown-menu
                li(href="#")
                    a(href='/databasesearch/place', title='{% trans "List and edit the bookshop\'s places" %}') {% trans "Places" %}
                li(href="#")
                    a(href='/databasesearch/shelf', title='{% trans "List and edit the shelves" %}') {% trans "Shelves" %}
                li(href="#")
                    a(href='/databasesearch/distributor') {% trans "Distributors" %}
                li(href="#")
                    a(href='/databasesearch/publisher') {% trans "Publisher" %}
                li.divider(role="separator")
                li(href="#")
                    a(href='/database') {% trans "All" %}

        form.navbar-form.navbar-left
          .form-group
            input.form-control(
              style="background-color: #F7F7F9"
              typeahead-loading="loadingCards"
              ng-model='copy_selected'
              uib-typeahead='copy.repr for copy in getCards($viewValue)'
              typeahead-min-length="3"
              typeahead-on-select="go_to_card($item)"
              title="{% trans 'Use TAB to validate your choice, Enter to proceed.' %}"
              title='{% trans "Search any isbn, search by keywords in your stock" %}'
              placeholder='{% trans "Search" %}'
            )


        ul.nav.navbar-nav.navbar-right
          //- li(href="#")
          //-   a.text-right(href="/admin", style="padding-right: 3px") {% trans "Admin" %}

          li.dropdown
            a(href="#").dropdown-toggle(data-toggle="dropdown", role="button", aria-haspopup="true", aria-expanded="false") {{'username'|ng}}
              span.caret
            ul.dropdown-menu
              li: a(href="/preferences/") {% trans "Preferences" %}
              li: a(href="/logout/", title=' {% trans "Logout" %}') {% trans "Logout" %}  
                  i.glyphicon.glyphicon-log-out


  #wrapper(ng-controller="baseController")
    #sidebar-wrapper

        ul.sidebar-nav.nav.nav-pills.nav-stacked
          li(ng-class="{active: url == 'collection' }")
            a(href='{% url "card_collection" %}') {% trans "My stock" %}

          li(ng-class="{active: url == 'search' }")
            a(href='{% url "card_search" %}') {% trans "New entry" %}

          li(ng-class="{active: url == 'sell' }")
            a(href='{% url "card_sell" %}') {% trans "Sell" %}

          li(ng-class="{active: url == 'inventories' }")
            a(href='{% url "inventories" %}') {% trans "Inventories" %}

          li(ng-class="{active: url == 'deposits' }")
            a(href='{% url "deposits" %}') {% trans "Deposits" %}

          li(ng-class="{active: url == 'baskets' }")
            a(href='{% url "baskets" %}') {% trans "Baskets" %}

          li(ng-class="{active: url == 'commands' }")
            a(href='{% url "basket_auto_command" %}') {% trans "To command" %}
              span.badge.ng-cloak {{ "auto_command_total" | ng }}

          li(ng-class="{active: url == 'history' }")
            a(href='{% url "search_history" %}') {% trans "History" %}

          li(ng-class="{active: url == 'alerts' }")
            a(href='{% url "search_alerts" %}') {% trans "Alerts" %}
              span.badge.ng-cloak {{ "alerts_open" | ng }}


    #page-content-wrapper
      #page-content
        .container-fluid
          .row
            .col-md-12
                {% block content %}
                {% endblock content %}